[submodule "macro-attr-2018"]
	path = macro-attr-2018
	url = https://github.com/A1-Triard/macro-attr-2018.git
[submodule "dyn-fmt"]
	path = dyn-fmt
	url = https://github.com/A1-Triard/dyn-fmt.git
[submodule "enum-derive-2018"]
	path = enum-derive-2018
	url = https://github.com/A1-Triard/enum-derive-2018.git
[submodule "int-vec-2d"]
	path = int-vec-2d
	url = https://github.com/A1-Triard/int-vec-2d.git
[submodule "iter-identify_first_last"]
	path = iter-identify_first_last
	url = https://github.com/A1-Triard/iter-identify_first_last.git
[submodule "utf8-chars"]
	path = utf8-chars
	url = https://github.com/A1-Triard/utf8-chars.git
[submodule "pc-ints"]
	path = pc-ints
	url = https://github.com/A1-Triard/pc-ints.git
[submodule "newtype-derive-2018"]
	path = newtype-derive-2018
	url = https://github.com/A1-Triard/newtype-derive-2018.git
[submodule "exit-no-std"]
	path = exit-no-std
	url = https://github.com/A1-Triard/exit-no-std.git
[submodule "pc-timer"]
	path = pc-timer
	url = https://github.com/A1-Triard/pc-timer.git
[submodule "dos-cp"]
	path = dos-cp
	url = https://github.com/A1-Triard/dos-cp.git
